In [ ]:
! curl "https://api.mockaroo.com/api/dde01370?count=1000&key=11149690" > "customers.csv"
! curl "https://api.mockaroo.com/api/8ba6f630?count=1000&key=11149690" > "products.csv"
! curl "https://api.mockaroo.com/api/6fa67fe0?count=3000&key=11149690" > "orders.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 99857    0 99857    0     0  75850      0 --:--:--  0:00:01 --:--:-- 75879
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  681k    0  681k    0     0   385k      0 --:--:--  0:00:01 --:--:--  385k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  230k    0  230k    0     0  47614      0 --:--:--  0:00:04 --:--:-- 57140

In [ ]:
import os
import sqlite3
import pandas as pd

In [ ]:
pd.read_csv("customers.csv").head()

,customer_id,first_name,last_name,email,phone_number,address,city,country,postal_code,loyalty_points
0,1,Christophe,Bentote,cbentote0@fema.gov,797-343-2279,155 Grim Point,Cầu Giấy,Vietnam,NaN,415
1,2,Ailee,Reeves,areeves1@a8.net,353-167-3089,514 Prentice Circle,Sobeok,Indonesia,NaN,201
2,3,Ilse,Whitter,iwhitter2@hc360.com,623-534-6970,9 Bultman Park,Stod,Czech Republic,333 01,891
3,4,Humberto,MacEveley,hmaceveley3@gravatar.com,576-556-4317,906 Gina Terrace,Secunda,South Africa,2302,831
4,5,Persis,Showler,pshowler4@usa.gov,926-159-0936,44430 Sullivan Place,Gulou,China,NaN,340

In [ ]:
customers_schema = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50),
    loyalty_points INT
);
"""

In [ ]:
pd.read_csv('products.csv').head(3)

,product_id,product_name,description,price,discount_percentage,category,brand,stock_quantity,color,size,weight,dimensions,release_date,rating,reviews_count,seller_name,seller_rating,seller_reviews_count,shipping_method,shipping_cost
0,1,libero quis orci nullam molestie nibh in lectu...,In eleifend quam a odio. In hac habitasse plat...,886.27,45.47,clothing,a libero nam dui proin leo odio porttitor id c...,630,Teal,extra large,3.6,tincidunt in leo maecenas pulvinar lobortis es...,2017-08-02,4.3,231,vitae quam suspendisse potenti nullam porttito...,2.5,150,standard,30.15
1,2,quam fringilla rhoncus mauris enim leo rhoncus...,Vestibulum sed magna at nunc commodo placerat....,655.25,28.14,home decor,tincidunt nulla mollis molestie lorem quisque ...,801,Puce,extra large,7.5,neque sapien placerat ante nulla justo aliquam...,2022-09-11,3.1,737,mauris non ligula pellentesque ultrices phasel...,1.4,967,express,4.52
2,3,nibh in quis justo maecenas rhoncus aliquam la...,Suspendisse potenti.,154.88,13.83,clothing,nonummy integer non velit donec diam neque ves...,327,Orange,large,1.8,erat tortor sollicitudin mi sit amet lobortis ...,2012-11-11,1.5,267,nulla justo aliquam quis turpis eget elit soda...,1.2,571,free,39.39

In [ ]:
products_schema = """
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name TEXT,
    description TEXT,
    price DECIMAL(10,2),
    discount_percentage DECIMAL(5,2),
    category VARCHAR(50),
    brand TEXT,
    stock_quantity INT,
    color VARCHAR(50),
    size VARCHAR(20),
    weight DECIMAL(5,2),
    dimensions TEXT,
    release_date DATE,
    rating DECIMAL(3,1),
    reviews_count INT,
    seller_name TEXT,
    seller_rating DECIMAL(3,1),
    seller_reviews_count INT,
    shipping_method VARCHAR(20),
    shipping_cost DECIMAL(6,2)
);
"""

In [ ]:
pd.read_csv('orders.csv').head()

,order_id,customer_id,product_id,quantity,unit_price,total_price,order_date,shipping_address,payment_method,status
0,1,172,17,90,111.34,4567.10,2022-02-27,21 Esker Street,PayPal,shipped
1,2,502,778,99,156.06,802.86,2022-05-01,7 Jana Hill,credit card,delivered
2,3,716,948,51,814.52,6745.23,2020-01-06,945 Little Fleur Street,PayPal,delivered
3,4,117,713,82,943.85,6443.41,2022-05-10,7693 Lawn Circle,credit card,pending
4,5,975,776,5,101.69,2489.60,2021-12-12,366 Stang Way,credit card,processing

In [ ]:
orders_schema = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    total_price DECIMAL(10,2),
    order_date DATE,
    shipping_address VARCHAR(255),
    payment_method VARCHAR(20),
    status VARCHAR(20),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""

In [ ]:
db_name='ecommerce.db'

if os.path.exists(db_name):
    os.remove(db_name)

In [ ]:
import sqlite3
import pandas as pd
import os



COLUMN_DATA_TYPES = {
    'customers': {
        'customer_id': 'int64',
        'first_name': 'object',
        'last_name': 'object',
        'email': 'object',
        'phone_number': 'object',
        'address': 'object',
        'city': 'object',
        'country': 'object',
        'postal_code': 'object',
        'loyalty_points': 'int64'
    },
    'products': {
        'product_id': 'int64',
        'product_name': 'object',
        'description': 'object',
        'price': 'float64',
        'discount_percentage': 'float64',
        'category': 'object',
        'brand': 'object',
        'stock_quantity': 'int64',
        'color': 'object',
        'size': 'object',
        'weight': 'float64',
        'dimensions': 'object',
        'release_date': 'datetime64[ns]',
        'rating': 'float64',
        'reviews_count': 'int64',
        'seller_name': 'object',
        'seller_rating': 'float64',
        'seller_reviews_count': 'int64',
        'shipping_method': 'object',
        'shipping_cost': 'float64'
    },
    'orders': {
        'order_id': 'int64',
        'customer_id': 'int64',
        'product_id': 'int64',
        'quantity': 'int64',
        'unit_price': 'float64',
        'total_price': 'float64',
        'order_date': 'datetime64[ns]',
        'shipping_address': 'object',
        'payment_method': 'object',
        'status': 'object'
    }
}

# --- Database setup ---
db_name = 'ecommerce.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables
    cursor.execute(customers_schema)
    cursor.execute(products_schema)
    cursor.execute(orders_schema)
    print("Tables 'customers', 'products', and 'orders' created successfully.")

    # --- Load data from CSV files into the tables using pandas ---
    csv_to_table_map = {
        '/content/customers.csv': 'customers',
        '/content/products.csv': 'products',
        '/content/orders.csv': 'orders'
    }

    for csv_file, table_name in csv_to_table_map.items():
        if os.path.exists(csv_file):
            print(f"\nProcessing '{csv_file}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(csv_file)

            # 1. Get the expected schema for the current table
            expected_schema = COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")


            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{csv_file}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{csv_file}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Database 'ecommerce.db' created and connected successfully. ✅
Tables 'customers', 'products', and 'orders' created successfully.

Processing '/content/customers.csv' for table 'customers'...
  -> Data from '/content/customers.csv' loaded into 'customers' table successfully.

Processing '/content/products.csv' for table 'products'...
  -> Data from '/content/products.csv' loaded into 'products' table successfully.

Processing '/content/orders.csv' for table 'orders'...
  -> Data from '/content/orders.csv' loaded into 'orders' table successfully.

Data committed to the database successfully. 🎉
Database connection closed.

In [ ]:
!pip install google-genai

Requirement already satisfied: google-genai in /usr/local/lib/python3.12/dist-packages (1.55.0)
Requirement already satisfied: anyio<5.0.0,>=4.8.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (4.12.0)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /usr/local/lib/python3.12/dist-packages (from google-auth[requests]<3.0.0,>=2.14.1->google-genai) (2.43.0)
Requirement already satisfied: httpx<1.0.0,>=0.28.1 in /usr/local/lib/python3.12/dist-packages (from google-genai) (0.28.1)
Requirement already satisfied: pydantic<3.0.0,>=2.9.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (2.12.3)
Requirement already satisfied: requests<3.0.0,>=2.28.1 in /usr/local/lib/python3.12/dist-packages (from google-genai) (2.32.4)
Requirement already satisfied: tenacity<9.2.0,>=8.2.3 in /usr/local/lib/python3.12/dist-packages (from google-genai) (9.1.2)
Requirement already satisfied: websockets<15.1.0,>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (15.0.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.11.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (4.15.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (1.9.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.12/dist-packages (from google-genai) (1.3.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.12/dist-packages (from anyio<5.0.0,>=4.8.0->google-genai) (3.11)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (6.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (4.9.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0,>=0.28.1->google-genai) (2025.11.12)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0,>=0.28.1->google-genai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1.0.0,>=0.28.1->google-genai) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.28.1->google-genai) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.28.1->google-genai) (2.5.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (0.6.1)

In [ ]:
from google import genai
from google.colab import userdata

In [ ]:
genai_client = genai.Client(api_key=userdata.get('GOOGLE_API_KEY').split('\n')[0].strip())

In [ ]:
prompt = """

###ROLE###
You are a highly skilled Text-to-SQL translator with expertise in SQL syntax, database schema interpretation, and natural language understanding. You generate syntactically correct and semantically accurate SQL queries based on user input and a given database schema.

###CONTEXT###
The user is working with a relational database for an e-commerce platform. The database includes three main tables: `customers`, `products`, and `orders`. The goal is to allow users to input natural language queries (in English), and have the model return equivalent SQL statements that accurately extract the requested data using the given schema.

Here is the full schema:

**Customers Table**
```sql
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50),
    loyalty_points INT
);
````

**Products Table**

```sql
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name TEXT,
    description TEXT,
    price DECIMAL(10,2),
    discount_percentage DECIMAL(5,2),
    category VARCHAR(50),
    brand TEXT,
    stock_quantity INT,
    color VARCHAR(50),
    size VARCHAR(20),
    weight DECIMAL(5,2),
    dimensions TEXT,
    release_date DATE,
    rating DECIMAL(3,1),
    reviews_count INT,
    seller_name TEXT,
    seller_rating DECIMAL(3,1),
    seller_reviews_count INT,
    shipping_method VARCHAR(20),
    shipping_cost DECIMAL(6,2)
);
```

**Orders Table**

```sql
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    total_price DECIMAL(10,2),
    order_date DATE,
    shipping_address VARCHAR(255),
    payment_method VARCHAR(20),
    status VARCHAR(20),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
```

###TASK###
Your task is to:

1. Read a natural language query about the e-commerce data.
2. Interpret the user's intent based on the schema provided.
3. Generate a valid SQL `SELECT` query that returns the expected result.
4. Ensure correct table joins, column selection, filtering, and grouping as necessary.
5. Handle aggregate functions (e.g., `COUNT`, `AVG`, `SUM`) where appropriate.
6. Disambiguate user terms based on schema details (e.g., "buyer" → `customers`, "product rating" → `products.rating`, etc.).

###CONSTRAINTS###

* Only return a valid SQL query as output — no explanations or extra text.
* The user is using sqllite database - respond with correct and valid sqllite syntax
* Use aliases (`AS`) for column names only when the original name is ambiguous.
* Do not create or modify tables.
* Do not assume the existence of tables or columns not provided in the schema.
* Avoid subqueries unless absolutely necessary for correctness or performance.
* Prefer readability: indent joins and clauses properly.

###EXAMPLES###
**Input:** "Show me the names and emails of customers from Canada who have more than 1000 loyalty points."
**Output:**

```sql
SELECT first_name, last_name, email
FROM customers
WHERE country = 'Canada' AND loyalty_points > 1000;
```

**Input:** "List the top 5 products with the highest ratings and their categories."
**Output:**

```sql
SELECT product_name, category, rating
FROM products
ORDER BY rating DESC
LIMIT 5;
```

**Input:** "How many orders were placed in August 2025?"
**Output:**

```sql
SELECT COUNT(*) AS total_orders
FROM orders
WHERE order_date BETWEEN '2025-08-01' AND '2025-08-31';
```

**Input:** "What is the average shipping cost for products sold by sellers with a rating above 4.5?"
**Output:**

```sql
SELECT AVG(shipping_cost) AS average_shipping_cost
FROM products
WHERE seller_rating > 4.5;
```

###OUTPUT FORMAT###
Return only the sqllite SQL query as a code block using triple backticks and the `sql` language tag, like this:

```sql
-- Your SQL query here
```
"""

In [ ]:
import json
def get_sql_query_via_gemini(genai_client, prompt, user_query):

  # https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
  contents = f"""
  {prompt}

  Here's the user query in english you need to work on:
  {user_query}
  """
  response = genai_client.models.generate_content(model='gemini-2.5-flash', contents=contents)
  # print(response) # uncomment this and understand at the output

  # Access the usage_metadata attribute
  usage_metadata = response.usage_metadata

  # Print the different token counts
  print(f"Input Token Count: {usage_metadata.prompt_token_count}")
  print(f"Thoughts Token Count: {response.usage_metadata.thoughts_token_count}")
  print(f"Output Token Count: {usage_metadata.candidates_token_count}")
  print(f"Total Token Count: {usage_metadata.total_token_count}")

  output = response.text.replace('```sql', '').replace('```', '')

  return output

In [ ]:
import sqlite3
import pandas as pd

def execute_query(query, db_name='ecommerce.db'):

    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        # Execute the query
        print(f"\nExecuting query on '{db_name}':\n{query}")
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names from the cursor description
        columns = [description[0] for description in cursor.description]

        # Format results as a dataframe for easier use
        results_as_dict = [dict(zip(columns, row)) for row in results]
        results_df = pd.DataFrame(results_as_dict)

        print("Query executed successfully.")
        return results_df

    except sqlite3.Error as e:
        print(f"Database error executing query: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None
    finally:
        if conn:
            conn.close()

In [ ]:
def text2sql(genai_client, prompt, user_query):
  output = get_sql_query_via_gemini(genai_client, prompt, user_query)
  results = execute_query(output)
  return results

In [ ]:
text2sql(genai_client, prompt, "Show me the order count by country")

Input Token Count: 1136
Thoughts Token Count: 63
Output Token Count: 53
Total Token Count: 1252

Executing query on 'ecommerce.db':

SELECT c.country, COUNT(o.order_id) AS order_count
FROM orders AS o
JOIN customers AS c
  ON o.customer_id = c.customer_id
GROUP BY c.country;

Query executed successfully.

                 country  order_count
0            Afghanistan            6
1                Albania           12
2         American Samoa            2
3                 Angola           10
4    Antigua and Barbuda            7
..                   ...          ...
122              Vanuatu            2
123            Venezuela            6
124              Vietnam           40
125                Yemen           12
126             Zimbabwe            3

[127 rows x 2 columns]

In [ ]:
print(userdata.get('GOOGLE_API_KEY'))

AIzaSyB9XbfSpLiUhqh6JF25Sac5fEmFtoyYJ9s
AIzaSyB9XbfSpLiUhqh6JF25Sac5fEmFtoyYJ9s

In [ ]:
text2sql(genai_client, prompt, "What are my top 10 most popular products")

Input Token Count: 1139
Thoughts Token Count: 215
Output Token Count: 77
Total Token Count: 1431

Executing query on 'ecommerce.db':

SELECT p.product_name, SUM(o.quantity) AS total_quantity_ordered
FROM products AS p
JOIN orders AS o
  ON p.product_id = o.product_id
GROUP BY p.product_id, p.product_name
ORDER BY total_quantity_ordered DESC
LIMIT 10;

Query executed successfully.

                                        product_name  total_quantity_ordered
0  erat quisque erat eros viverra eget congue ege...                     434
1  sapien a libero nam dui proin leo odio porttit...                     400
2  cursus id turpis integer aliquet massa id lobo...                     396
3  integer ac neque duis bibendum morbi non quam ...                     393
4  in libero ut massa volutpat convallis morbi od...                     386
5  parturient montes nascetur ridiculus mus etiam...                     379
6  libero rutrum ac lobortis vel dapibus at diam ...                     370
7  ultrices posuere cubilia curae duis faucibus a...                     368
8  feugiat et eros vestibulum ac est lacinia nisi...                     363
9  vel ipsum praesent blandit lacinia erat vestib...                     358

# Task
Analyze the structure of 'customers.csv', 'products.csv', and 'orders.csv' to identify column names and infer appropriate data types for each.

## Analyze Input CSVs

### Subtask:
Read each input CSV file ('customers.csv', 'products.csv', 'orders.csv') to programmatically infer the column names and their basic data types. This information will be crucial for dynamic schema generation.

**Reasoning**:
The first step in analyzing the input CSVs is to read 'customers.csv' into a pandas DataFrame and inspect its column names and data types using `.info()` to understand its structure for schema generation.

In [ ]:
customers_df = pd.read_csv('customers.csv')
print("Customers DataFrame Info:")
customers_df.info()
print("\nCustomers DataFrame dtypes:")
print(customers_df.dtypes)

Customers DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     1000 non-null   int64
 1   first_name      1000 non-null   object
 2   last_name       1000 non-null   object
 3   email           1000 non-null   object
 4   phone_number    1000 non-null   object
 5   address         1000 non-null   object
 6   city            1000 non-null   object
 7   country         1000 non-null   object
 8   postal_code     466 non-null    object
 9   loyalty_points  1000 non-null   int64
dtypes: int64(2), object(8)
memory usage: 78.3+ KB

Customers DataFrame dtypes:
customer_id        int64
first_name        object
last_name         object
email             object
phone_number      object
address           object
city              object
country           object
postal_code       object
loyalty_points     int64
dtype: object

**Reasoning**:
Next, to continue analyzing the input CSVs, read 'products.csv' into a pandas DataFrame and inspect its column names and inferred data types using `.info()` to understand its structure for schema generation.

In [ ]:
products_df = pd.read_csv('products.csv')
print("Products DataFrame Info:")
products_df.info()
print("\nProducts DataFrame dtypes:")
print(products_df.dtypes)

Products DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            1000 non-null   int64
 1   product_name          1000 non-null   object
 2   description           1000 non-null   object
 3   price                 1000 non-null   float64
 4   discount_percentage   1000 non-null   float64
 5   category              1000 non-null   object
 6   brand                 1000 non-null   object
 7   stock_quantity        1000 non-null   int64
 8   color                 1000 non-null   object
 9   size                  1000 non-null   object
 10  weight                1000 non-null   float64
 11  dimensions            1000 non-null   object
 12  release_date          1000 non-null   object
 13  rating                1000 non-null   float64
 14  reviews_count         1000 non-null   int64
 15  seller_name           1000 non-null   object
 16  seller_rating         1000 non-null   float64
 17  seller_reviews_count  1000 non-null   int64
 18  shipping_method       1000 non-null   object
 19  shipping_cost         1000 non-null   float64
dtypes: float64(6), int64(4), object(10)
memory usage: 156.4+ KB

Products DataFrame dtypes:
product_id                int64
product_name             object
description              object
price                   float64
discount_percentage     float64
category                 object
brand                    object
stock_quantity            int64
color                    object
size                     object
weight                  float64
dimensions               object
release_date             object
rating                  float64
reviews_count             int64
seller_name              object
seller_rating           float64
seller_reviews_count      int64
shipping_method          object
shipping_cost           float64
dtype: object

**Reasoning**:
To complete the analysis of input CSVs, the next step is to read 'orders.csv' into a pandas DataFrame and inspect its column names and inferred data types using `.info()` to understand its structure for schema generation.

In [ ]:
orders_df = pd.read_csv('orders.csv')
print("Orders DataFrame Info:")
orders_df.info()
print("\nOrders DataFrame dtypes:")
print(orders_df.dtypes)

Orders DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          3000 non-null   int64
 1   customer_id       3000 non-null   int64
 2   product_id        3000 non-null   int64
 3   quantity          3000 non-null   int64
 4   unit_price        3000 non-null   float64
 5   total_price       3000 non-null   float64
 6   order_date        3000 non-null   object
 7   shipping_address  3000 non-null   object
 8   payment_method    3000 non-null   object
 9   status            3000 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 234.5+ KB

Orders DataFrame dtypes:
order_id              int64
customer_id           int64
product_id            int64
quantity              int64
unit_price          float64
total_price         float64
order_date           object
shipping_address     object
payment_method       object
status               object
dtype: object

## Generate Dynamic SQL Schemas

### Subtask:
Based on the inferred column names and data types from the CSV analysis, generate the SQL CREATE TABLE IF NOT EXISTS statements for 'customers', 'products', and 'orders' tables.

**Reasoning**:
First, I will define a helper function `map_pandas_dtype_to_sql` to convert pandas data types to appropriate SQLite SQL data types, considering the lengths and precisions specified in the original schemas for VARCHAR and DECIMAL types.

In [ ]:
def map_pandas_dtype_to_sql(col_name, pandas_dtype):
    if 'int' in str(pandas_dtype):
        return 'INT'
    elif 'float' in str(pandas_dtype):
        # Custom mapping for DECIMAL types based on original schema
        if col_name == 'price':
            return 'DECIMAL(10,2)'
        elif col_name == 'discount_percentage':
            return 'DECIMAL(5,2)'
        elif col_name == 'rating':
            return 'DECIMAL(3,1)'
        elif col_name == 'seller_rating':
            return 'DECIMAL(3,1)'
        elif col_name == 'weight':
            return 'DECIMAL(5,2)'
        elif col_name == 'shipping_cost':
            return 'DECIMAL(6,2)'
        elif col_name == 'unit_price':
            return 'DECIMAL(10,2)'
        elif col_name == 'total_price':
            return 'DECIMAL(10,2)'
        else:
            return 'REAL'
    elif 'datetime' in str(pandas_dtype):
        return 'DATE'
    elif 'object' in str(pandas_dtype):
        # Custom mapping for VARCHAR lengths based on original schema
        if col_name in ['first_name', 'last_name', 'email', 'phone_number', 'address', 'city', 'country', 'postal_code', 'category', 'color', 'shipping_method', 'payment_method', 'status']:
            if col_name == 'shipping_address':
                return 'VARCHAR(255)'
            elif col_name == 'size':
                return 'VARCHAR(20)'
            elif col_name in ['payment_method', 'status', 'shipping_method']:
                return 'VARCHAR(20)'
            else:
                return 'VARCHAR(50)'
        else:
            return 'TEXT'
    return 'TEXT'

print("Defined map_pandas_dtype_to_sql function.")

Defined map_pandas_dtype_to_sql function.

**Reasoning**:
Next, I will define the `generate_sql_schema` function which takes a table name and its column data types, then constructs the SQL `CREATE TABLE IF NOT EXISTS` statement, including primary key definitions and foreign key constraints for the 'orders' table.

In [ ]:
def generate_sql_schema(table_name, column_data_types_map):
    columns_sql = []
    primary_key = ''

    # Determine primary key based on table name
    if table_name == 'customers':
        primary_key = 'customer_id'
    elif table_name == 'products':
        primary_key = 'product_id'
    elif table_name == 'orders':
        primary_key = 'order_id'

    for col_name, pandas_dtype in column_data_types_map.items():
        sql_type = map_pandas_dtype_to_sql(col_name, pandas_dtype)
        column_definition = f"{col_name} {sql_type}"
        if col_name == primary_key:
            column_definition += ' PRIMARY KEY'
        columns_sql.append(column_definition)

    # Add foreign key constraints for the 'orders' table
    if table_name == 'orders':
        columns_sql.append('FOREIGN KEY (customer_id) REFERENCES customers(customer_id)')
        columns_sql.append('FOREIGN KEY (product_id) REFERENCES products(product_id)')

    schema = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {',\n    '.join(columns_sql)}
);
"""
    return schema

print("Defined generate_sql_schema function.")

Defined generate_sql_schema function.

**Reasoning**:
Now, I will call the `generate_sql_schema` function three times, once for each table ('customers', 'products', 'orders'), using the `COLUMN_DATA_TYPES` dictionary for type information, and store the generated SQL strings in `customers_schema_dynamic`, `products_schema_dynamic`, and `orders_schema_dynamic` respectively.

In [ ]:
customers_schema_dynamic = generate_sql_schema('customers', COLUMN_DATA_TYPES['customers'])
products_schema_dynamic = generate_sql_schema('products', COLUMN_DATA_TYPES['products'])
orders_schema_dynamic = generate_sql_schema('orders', COLUMN_DATA_TYPES['orders'])

print("Dynamically generated Customers Schema:")
print(customers_schema_dynamic)
print("\nDynamically generated Products Schema:")
print(products_schema_dynamic)
print("\nDynamically generated Orders Schema:")
print(orders_schema_dynamic)

Dynamically generated Customers Schema:

CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50),
    loyalty_points INT
);


Dynamically generated Products Schema:

CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name TEXT,
    description TEXT,
    price DECIMAL(10,2),
    discount_percentage DECIMAL(5,2),
    category VARCHAR(50),
    brand TEXT,
    stock_quantity INT,
    color VARCHAR(50),
    size TEXT,
    weight DECIMAL(5,2),
    dimensions TEXT,
    release_date DATE,
    rating DECIMAL(3,1),
    reviews_count INT,
    seller_name TEXT,
    seller_rating DECIMAL(3,1),
    seller_reviews_count INT,
    shipping_method VARCHAR(20),
    shipping_cost DECIMAL(6,2)
);


Dynamically generated Orders Schema:

CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    total_price DECIMAL(10,2),
    order_date DATE,
    shipping_address TEXT,
    payment_method VARCHAR(20),
    status VARCHAR(20),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);

## Generate Dynamic Python Data Type Mapping

### Subtask:
Create or update the `COLUMN_DATA_TYPES` Python dictionary dynamically based on the inferred schemas from the CSV files. This will ensure that pandas `to_sql` method has the correct type information for each column.

**Reasoning**:
To dynamically create the `COLUMN_DATA_TYPES` dictionary, I will iterate through the columns and dtypes of `customers_df`, `products_df`, and `orders_df` and populate the dictionary with the inferred pandas data types, then print the dictionary for verification.

In [ ]:
COLUMN_DATA_TYPES = {}

COLUMN_DATA_TYPES['customers'] = {col_name: str(dtype) for col_name, dtype in customers_df.dtypes.items()}
COLUMN_DATA_TYPES['products'] = {col_name: str(dtype) for col_name, dtype in products_df.dtypes.items()}
COLUMN_DATA_TYPES['orders'] = {col_name: str(dtype) for col_name, dtype in orders_df.dtypes.items()}

print("Dynamically Generated COLUMN_DATA_TYPES:")
print(COLUMN_DATA_TYPES)

Dynamically Generated COLUMN_DATA_TYPES:
{'customers': {'customer_id': 'int64', 'first_name': 'object', 'last_name': 'object', 'email': 'object', 'phone_number': 'object', 'address': 'object', 'city': 'object', 'country': 'object', 'postal_code': 'object', 'loyalty_points': 'int64'}, 'products': {'product_id': 'int64', 'product_name': 'object', 'description': 'object', 'price': 'float64', 'discount_percentage': 'float64', 'category': 'object', 'brand': 'object', 'stock_quantity': 'int64', 'color': 'object', 'size': 'object', 'weight': 'float64', 'dimensions': 'object', 'release_date': 'object', 'rating': 'float64', 'reviews_count': 'int64', 'seller_name': 'object', 'seller_rating': 'float64', 'seller_reviews_count': 'int64', 'shipping_method': 'object', 'shipping_cost': 'float64'}, 'orders': {'order_id': 'int64', 'customer_id': 'int64', 'product_id': 'int64', 'quantity': 'int64', 'unit_price': 'float64', 'total_price': 'float64', 'order_date': 'object', 'shipping_address': 'object', 'payment_method': 'object', 'status': 'object'}}

## Update Database Setup and Data Loading

### Subtask:
Modify the existing database setup code (cell `lAdUAAYpeo5t`) to use the dynamically generated SQL schemas and the updated `COLUMN_DATA_TYPES` dictionary.

**Reasoning**:
I will update the code cell `lAdUAAYpeo5t` by removing the hardcoded `COLUMN_DATA_TYPES` dictionary and replacing the static schema variables with their dynamically generated counterparts (`_dynamic` versions) to ensure the database setup uses the latest schema definitions.

In [ ]:
import sqlite3
import pandas as pd
import os


# --- Database setup ---
db_name = 'ecommerce.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables
    cursor.execute(customers_schema_dynamic)
    cursor.execute(products_schema_dynamic)
    cursor.execute(orders_schema_dynamic)
    print("Tables 'customers', 'products', and 'orders' created successfully.")

    # --- Load data from CSV files into the tables using pandas ---
    csv_to_table_map = {
        '/content/customers.csv': 'customers',
        '/content/products.csv': 'products',
        '/content/orders.csv': 'orders'
    }

    for csv_file, table_name in csv_to_table_map.items():
        if os.path.exists(csv_file):
            print(f"\nProcessing '{csv_file}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(csv_file)

            # 1. Get the expected schema for the current table
            expected_schema = COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")


            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{csv_file}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{csv_file}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Database 'ecommerce.db' created and connected successfully. ✅
Tables 'customers', 'products', and 'orders' created successfully.

Processing '/content/customers.csv' for table 'customers'...
Database error: UNIQUE constraint failed: customers.customer_id
Database connection closed.

**Reasoning**:
The previous execution failed due to a unique constraint violation when attempting to re-insert data into existing tables. To resolve this, I need to add a step to remove the existing 'ecommerce.db' file before recreating the tables and loading data. This ensures a clean database state for each run.

In [ ]:
import sqlite3
import pandas as pd
import os


# --- Database setup ---
db_name = 'ecommerce.db'

# Remove the database file if it already exists to ensure a clean start
if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Existing database '{db_name}' removed. ✅")

conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables
    cursor.execute(customers_schema_dynamic)
    cursor.execute(products_schema_dynamic)
    cursor.execute(orders_schema_dynamic)
    print("Tables 'customers', 'products', and 'orders' created successfully.")

    # --- Load data from CSV files into the tables using pandas ---
    csv_to_table_map = {
        '/content/customers.csv': 'customers',
        '/content/products.csv': 'products',
        '/content/orders.csv': 'orders'
    }

    for csv_file, table_name in csv_to_table_map.items():
        if os.path.exists(csv_file):
            print(f"\nProcessing '{csv_file}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(csv_file)

            # 1. Get the expected schema for the current table
            expected_schema = COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")


            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{csv_file}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{csv_file}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Existing database 'ecommerce.db' removed. ✅
Database 'ecommerce.db' created and connected successfully. ✅
Tables 'customers', 'products', and 'orders' created successfully.

Processing '/content/customers.csv' for table 'customers'...
  -> Data from '/content/customers.csv' loaded into 'customers' table successfully.

Processing '/content/products.csv' for table 'products'...
  -> Data from '/content/products.csv' loaded into 'products' table successfully.

Processing '/content/orders.csv' for table 'orders'...
  -> Data from '/content/orders.csv' loaded into 'orders' table successfully.

Data committed to the database successfully. 🎉
Database connection closed.

## Final Task

### Subtask:
Summarize the process of automating schema generation and adaptation, confirming that the solution now dynamically creates database schemas and data type mappings based on the input CSV files, eliminating the need for manual schema updates.

## Summary:

### Data Analysis Key Findings

*   **CSV Structure Analysis**:
    *   `customers.csv` contains 10 columns and 1000 entries; `postal_code` has 46.6% missing values.
    *   `products.csv` contains 20 columns and 1000 entries; `release_date` was inferred as an `object` type.
    *   `orders.csv` contains 10 columns and 3000 entries; `order_date` was inferred as an `object` type.
    *   Columns like `customer_id`, `loyalty_points`, `product_id`, `stock_quantity`, `reviews_count`, `seller_reviews_count`, `order_id`, `quantity` were identified as `int64`.
    *   Price and other numerical fields like `discount_percentage`, `weight`, `rating`, `seller_rating`, `shipping_cost`, `unit_price`, and `total_price` were inferred as `float64`.
    *   Textual columns like `first_name`, `last_name`, `email`, `product_name`, `description`, `category`, `brand`, `color`, `size`, `dimensions`, `shipping_address`, `payment_method`, and `status` were inferred as `object`.

*   **Dynamic SQL Schema Generation**:
    *   A `map_pandas_dtype_to_sql` function was created to dynamically convert pandas data types to appropriate SQL types, including `INT`, `REAL`, `DATE`, `TEXT`, and specific `DECIMAL(X,Y)` and `VARCHAR(length)` types based on column names (e.g., `price` to `DECIMAL(10,2)`, `email` to `VARCHAR(50)`).
    *   A `generate_sql_schema` function was developed to construct `CREATE TABLE IF NOT EXISTS` statements, dynamically adding `PRIMARY KEY` constraints for `customer_id`, `product_id`, and `order_id`, and `FOREIGN KEY` constraints for `customer_id` and `product_id` in the `orders` table.

*   **Dynamic Python Data Type Mapping**:
    *   A `COLUMN_DATA_TYPES` dictionary was dynamically populated, mapping table names to dictionaries of column names and their inferred pandas data types (e.g., `'customers': {'customer_id': 'int64', ...}`). This dictionary serves as a dynamic schema for pandas operations.

*   **Automated Database Setup and Data Loading**:
    *   The database setup code was modified to use the dynamically generated SQL schemas (`customers_schema_dynamic`, `products_schema_dynamic`, `orders_schema_dynamic`) for table creation.
    *   Data loading from CSV files into SQLite tables was automated, leveraging the `COLUMN_DATA_TYPES` dictionary to ensure:
        *   Handling of missing or extra columns in CSVs relative to the defined schema.
        *   Correct column reordering.
        *   Enforcement of data types using `astype` and `pd.to_datetime`, with error handling for conversions.
    *   An initial `UNIQUE constraint failed` error during data loading was resolved by implementing an `os.remove(db_name)` command to ensure a clean database environment for each run.

### Insights or Next Steps

*   The solution successfully automates schema generation and data type mapping, eliminating manual schema updates and adapting to the structure of input CSV files.
*   Further enhancements could include more sophisticated type inference for `object` columns (e.g., automatically detecting dates or specific string patterns) and configurable precision/scale for decimal types, rather than hardcoding for specific column names.

# Task
Update the Text-to-SQL prompt by embedding the dynamically generated `CREATE TABLE` statements for `customers`, `products`, and `orders` into the 'CONTEXT' section, ensuring the large language model (LLM) always uses the most current database schema for SQL generation.

## Identify CSV files and prepare data structures

### Subtask:
Programmatically scan the `/content/` directory for all `.csv` files. From these filenames, derive potential table names (e.g., 'customers.csv' -> 'customers'). Create a list of dictionaries, where each dictionary contains the CSV file path and its derived table name. Initialize `ALL_COLUMN_DATA_TYPES` to store pandas data types and `all_table_schemas_sql` to store generated SQL schemas for all discovered tables.

**Reasoning**:
To begin the subtask, I need to scan the `/content/` directory for CSV files, extract their names, and prepare the data structures as instructed. This involves importing `os`, initializing `csv_files_info`, iterating through files, and populating `csv_files_info` with file paths and derived table names, then initializing `ALL_COLUMN_DATA_TYPES` and `all_table_schemas_sql`.

In [ ]:
import os

csv_files_info = []

for filename in os.listdir('/content/'):
    if filename.endswith('.csv'):
        full_filepath = os.path.join('/content/', filename)
        table_name = filename.replace('.csv', '')
        csv_files_info.append({'filepath': full_filepath, 'table_name': table_name})

ALL_COLUMN_DATA_TYPES = {}
all_table_schemas_sql = {}

print("Discovered CSV files and initialized data structures.")
print("csv_files_info:", csv_files_info)

Discovered CSV files and initialized data structures.
csv_files_info: [{'filepath': '/content/customers.csv', 'table_name': 'customers'}, {'filepath': '/content/products.csv', 'table_name': 'products'}, {'filepath': '/content/orders.csv', 'table_name': 'orders'}]

**Reasoning**:
Now that the CSV files are identified and data structures initialized, I will iterate through each CSV file, read it into a pandas DataFrame, infer the column data types, and populate the `ALL_COLUMN_DATA_TYPES` dictionary with this information.

In [ ]:
import pandas as pd

for file_info in csv_files_info:
    filepath = file_info['filepath']
    table_name = file_info['table_name']

    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(filepath)

    # Infer data types and store them in ALL_COLUMN_DATA_TYPES
    ALL_COLUMN_DATA_TYPES[table_name] = {col_name: str(dtype) for col_name, dtype in df.dtypes.items()}

print("Populated ALL_COLUMN_DATA_TYPES with inferred pandas data types.")
print(ALL_COLUMN_DATA_TYPES)

Populated ALL_COLUMN_DATA_TYPES with inferred pandas data types.
{'customers': {'customer_id': 'int64', 'first_name': 'object', 'last_name': 'object', 'email': 'object', 'phone_number': 'object', 'address': 'object', 'city': 'object', 'country': 'object', 'postal_code': 'object', 'loyalty_points': 'int64'}, 'products': {'product_id': 'int64', 'product_name': 'object', 'description': 'object', 'price': 'float64', 'discount_percentage': 'float64', 'category': 'object', 'brand': 'object', 'stock_quantity': 'int64', 'color': 'object', 'size': 'object', 'weight': 'float64', 'dimensions': 'object', 'release_date': 'object', 'rating': 'float64', 'reviews_count': 'int64', 'seller_name': 'object', 'seller_rating': 'float64', 'seller_reviews_count': 'int64', 'shipping_method': 'object', 'shipping_cost': 'float64'}, 'orders': {'order_id': 'int64', 'customer_id': 'int64', 'product_id': 'int64', 'quantity': 'int64', 'unit_price': 'float64', 'total_price': 'float64', 'order_date': 'object', 'shipping_address': 'object', 'payment_method': 'object', 'status': 'object'}}

**Reasoning**:
Now that pandas data types have been inferred, I will iterate through the `ALL_COLUMN_DATA_TYPES` dictionary to generate the SQL `CREATE TABLE` statements for each table using the `generate_sql_schema` function and store them in the `all_table_schemas_sql` dictionary.

In [ ]:
for table_name, column_data_types_map in ALL_COLUMN_DATA_TYPES.items():
    # Use the previously defined generate_sql_schema function
    all_table_schemas_sql[table_name] = generate_sql_schema(table_name, column_data_types_map)

print("Populated all_table_schemas_sql with dynamically generated SQL schemas.")
print(all_table_schemas_sql)

Populated all_table_schemas_sql with dynamically generated SQL schemas.
{'customers': '\nCREATE TABLE IF NOT EXISTS customers (\n    customer_id INT PRIMARY KEY,\n    first_name VARCHAR(50),\n    last_name VARCHAR(50),\n    email VARCHAR(50),\n    phone_number VARCHAR(50),\n    address VARCHAR(50),\n    city VARCHAR(50),\n    country VARCHAR(50),\n    postal_code VARCHAR(50),\n    loyalty_points INT\n);\n', 'products': '\nCREATE TABLE IF NOT EXISTS products (\n    product_id INT PRIMARY KEY,\n    product_name TEXT,\n    description TEXT,\n    price DECIMAL(10,2),\n    discount_percentage DECIMAL(5,2),\n    category VARCHAR(50),\n    brand TEXT,\n    stock_quantity INT,\n    color VARCHAR(50),\n    size TEXT,\n    weight DECIMAL(5,2),\n    dimensions TEXT,\n    release_date TEXT,\n    rating DECIMAL(3,1),\n    reviews_count INT,\n    seller_name TEXT,\n    seller_rating DECIMAL(3,1),\n    seller_reviews_count INT,\n    shipping_method VARCHAR(20),\n    shipping_cost DECIMAL(6,2)\n);\n', 'orders': '\nCREATE TABLE IF NOT EXISTS orders (\n    order_id INT PRIMARY KEY,\n    customer_id INT,\n    product_id INT,\n    quantity INT,\n    unit_price DECIMAL(10,2),\n    total_price DECIMAL(10,2),\n    order_date TEXT,\n    shipping_address TEXT,\n    payment_method VARCHAR(20),\n    status VARCHAR(20),\n    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),\n    FOREIGN KEY (product_id) REFERENCES products(product_id)\n);\n'}

**Reasoning**:
I will update the `prompt` variable to include the dynamically generated SQL schemas for `customers`, `products`, and `orders` by replacing the existing static schema definitions within the `###CONTEXT###` section. This ensures the LLM uses the most current database schema for SQL generation.

In [ ]:
dynamic_schemas_str = """
**Customers Table**
```sql
{}
````

**Products Table**

```sql
{}
````

**Orders Table**

```sql
{}
````
""".format(all_table_schemas_sql['customers'], all_table_schemas_sql['products'], all_table_schemas_sql['orders'])

# Find the start and end of the CONTEXT section
context_start = prompt.find('###CONTEXT###')
schema_start = prompt.find('**Customers Table**', context_start)
schema_end = prompt.find('###TASK###', schema_start)

# Construct the new prompt with dynamic schemas
updated_prompt = prompt[:schema_start] + dynamic_schemas_str + prompt[schema_end:]

prompt = updated_prompt # Update the global prompt variable

print("Updated the Text-to-SQL prompt with dynamic schemas.")
# print(prompt) # Uncomment to see the full updated prompt

Updated the Text-to-SQL prompt with dynamic schemas.

## Enhance generate_sql_schema for Dynamic Primary and Foreign Keys

### Subtask:
Modify the `generate_sql_schema` function to dynamically determine primary keys and infer foreign key constraints based on naming conventions (e.g., `{table_name}_id`) and the list of all discovered tables.

**Reasoning**:
To dynamically determine foreign keys, I first need a comprehensive list of all table names. This list will be derived from the `csv_files_info` generated in a previous step.

In [ ]:
all_table_names = [info['table_name'] for info in csv_files_info]

print("List of all discovered table names:")
print(all_table_names)

List of all discovered table names:
['customers', 'products', 'orders']

**Reasoning**:
I will define the `generate_sql_schema_dynamic` function to include logic for dynamically determining primary keys and inferring foreign key constraints based on naming conventions and the list of all available table names.

In [ ]:
def generate_sql_schema_dynamic(table_name, column_data_types_map, all_table_names):
    columns_sql = []
    primary_key_col = f"{table_name.lower()}_id"

    for col_name, pandas_dtype in column_data_types_map.items():
        sql_type = map_pandas_dtype_to_sql(col_name, pandas_dtype)
        column_definition = f"{col_name} {sql_type}"

        if col_name == primary_key_col:
            column_definition += ' PRIMARY KEY'
        columns_sql.append(column_definition)

    # Dynamically infer foreign key constraints
    for col_name in column_data_types_map.keys():
        if col_name.endswith('_id') and col_name != primary_key_col:
            referenced_table_name = col_name.replace('_id', '')
            if referenced_table_name in all_table_names:
                columns_sql.append(f'FOREIGN KEY ({col_name}) REFERENCES {referenced_table_name}({col_name})')

    schema = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {',\n    '.join(columns_sql)}
);
"""
    return schema

print("Defined generate_sql_schema_dynamic function with dynamic PK/FK inference.")

Defined generate_sql_schema_dynamic function with dynamic PK/FK inference.

**Reasoning**:
Now that the `generate_sql_schema_dynamic` function is defined, I will use it to generate the SQL `CREATE TABLE` statements for all tables, dynamically determining primary and foreign keys, and store them in the `all_table_schemas_sql` dictionary.

In [ ]:
for table_name, column_data_types_map in ALL_COLUMN_DATA_TYPES.items():
    all_table_schemas_sql[table_name] = generate_sql_schema_dynamic(table_name, column_data_types_map, all_table_names)

print("Populated all_table_schemas_sql with dynamically generated SQL schemas using the new function.")
print(all_table_schemas_sql)

Populated all_table_schemas_sql with dynamically generated SQL schemas using the new function.
{'customers': '\nCREATE TABLE IF NOT EXISTS customers (\n    customer_id INT,\n    first_name VARCHAR(50),\n    last_name VARCHAR(50),\n    email VARCHAR(50),\n    phone_number VARCHAR(50),\n    address VARCHAR(50),\n    city VARCHAR(50),\n    country VARCHAR(50),\n    postal_code VARCHAR(50),\n    loyalty_points INT\n);\n', 'products': '\nCREATE TABLE IF NOT EXISTS products (\n    product_id INT,\n    product_name TEXT,\n    description TEXT,\n    price DECIMAL(10,2),\n    discount_percentage DECIMAL(5,2),\n    category VARCHAR(50),\n    brand TEXT,\n    stock_quantity INT,\n    color VARCHAR(50),\n    size TEXT,\n    weight DECIMAL(5,2),\n    dimensions TEXT,\n    release_date TEXT,\n    rating DECIMAL(3,1),\n    reviews_count INT,\n    seller_name TEXT,\n    seller_rating DECIMAL(3,1),\n    seller_reviews_count INT,\n    shipping_method VARCHAR(20),\n    shipping_cost DECIMAL(6,2)\n);\n', 'orders': '\nCREATE TABLE IF NOT EXISTS orders (\n    order_id INT,\n    customer_id INT,\n    product_id INT,\n    quantity INT,\n    unit_price DECIMAL(10,2),\n    total_price DECIMAL(10,2),\n    order_date TEXT,\n    shipping_address TEXT,\n    payment_method VARCHAR(20),\n    status VARCHAR(20)\n);\n'}

**Reasoning**:
The previous execution of `generate_sql_schema_dynamic` did not correctly infer primary and foreign keys due to an issue with how `primary_key_col` and `referenced_table_name` were derived from table names. I need to redefine the `generate_sql_schema_dynamic` function to accurately match the primary key to `{table_name_singular}_id` and correctly infer foreign keys by checking both singular and plural forms of the referenced table name against `all_table_names`.

In [ ]:
def generate_sql_schema_dynamic(table_name, column_data_types_map, all_table_names):
    columns_sql = []

    # Determine primary key column based on convention (singular form of table_name + '_id')
    # For tables like 'customers', 'products', 'orders', the singular form for PK would be 'customer_id', 'product_id', 'order_id'
    primary_key_candidate = ''
    if table_name.endswith('s'):
        primary_key_candidate = f"{table_name[:-1]}_id"
    else:
        primary_key_candidate = f"{table_name}_id"

    for col_name, pandas_dtype in column_data_types_map.items():
        sql_type = map_pandas_dtype_to_sql(col_name, pandas_dtype)
        column_definition = f"{col_name} {sql_type}"

        if col_name == primary_key_candidate:
            column_definition += ' PRIMARY KEY'
        columns_sql.append(column_definition)

    # Dynamically infer foreign key constraints
    for col_name in column_data_types_map.keys():
        if col_name.endswith('_id') and col_name != primary_key_candidate:
            # Try to infer the referenced table name (singular and plural forms)
            referenced_table_name_singular = col_name.replace('_id', '')
            referenced_table_name_plural = f"{referenced_table_name_singular}s"

            # Check if either singular or plural form exists in the list of all table names
            if referenced_table_name_plural in all_table_names:
                columns_sql.append(f'FOREIGN KEY ({col_name}) REFERENCES {referenced_table_name_plural}({col_name})')
            elif referenced_table_name_singular in all_table_names:
                columns_sql.append(f'FOREIGN KEY ({col_name}) REFERENCES {referenced_table_name_singular}({col_name})')

    schema = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {',\n    '.join(columns_sql)}
);
"""
    return schema

print("Redefined generate_sql_schema_dynamic function with corrected PK/FK inference.")

Redefined generate_sql_schema_dynamic function with corrected PK/FK inference.

**Reasoning**:
Now that the `generate_sql_schema_dynamic` function has been redefined with corrected logic for primary and foreign key inference, I will re-run the loop to populate `all_table_schemas_sql` with the newly generated SQL schemas. This ensures the schemas accurately reflect the intended primary and foreign key constraints.

In [ ]:
for table_name, column_data_types_map in ALL_COLUMN_DATA_TYPES.items():
    all_table_schemas_sql[table_name] = generate_sql_schema_dynamic(table_name, column_data_types_map, all_table_names)

print("Populated all_table_schemas_sql with dynamically generated SQL schemas using the new function.")
print(all_table_schemas_sql)

Populated all_table_schemas_sql with dynamically generated SQL schemas using the new function.
{'customers': '\nCREATE TABLE IF NOT EXISTS customers (\n    customer_id INT PRIMARY KEY,\n    first_name VARCHAR(50),\n    last_name VARCHAR(50),\n    email VARCHAR(50),\n    phone_number VARCHAR(50),\n    address VARCHAR(50),\n    city VARCHAR(50),\n    country VARCHAR(50),\n    postal_code VARCHAR(50),\n    loyalty_points INT\n);\n', 'products': '\nCREATE TABLE IF NOT EXISTS products (\n    product_id INT PRIMARY KEY,\n    product_name TEXT,\n    description TEXT,\n    price DECIMAL(10,2),\n    discount_percentage DECIMAL(5,2),\n    category VARCHAR(50),\n    brand TEXT,\n    stock_quantity INT,\n    color VARCHAR(50),\n    size TEXT,\n    weight DECIMAL(5,2),\n    dimensions TEXT,\n    release_date TEXT,\n    rating DECIMAL(3,1),\n    reviews_count INT,\n    seller_name TEXT,\n    seller_rating DECIMAL(3,1),\n    seller_reviews_count INT,\n    shipping_method VARCHAR(20),\n    shipping_cost DECIMAL(6,2)\n);\n', 'orders': '\nCREATE TABLE IF NOT EXISTS orders (\n    order_id INT PRIMARY KEY,\n    customer_id INT,\n    product_id INT,\n    quantity INT,\n    unit_price DECIMAL(10,2),\n    total_price DECIMAL(10,2),\n    order_date TEXT,\n    shipping_address TEXT,\n    payment_method VARCHAR(20),\n    status VARCHAR(20),\n    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),\n    FOREIGN KEY (product_id) REFERENCES products(product_id)\n);\n'}

## Generate Dynamic SQL Schemas and Recreate Database

### Subtask:
Loop through the discovered tables. For each table, call the enhanced `generate_sql_schema` function to generate its SQL `CREATE TABLE` statement. Store these dynamically generated SQL schemas in the `all_table_schemas_sql` dictionary. Remove the existing `ecommerce.db` to ensure a clean database environment. Then, connect to SQLite and execute all generated `CREATE TABLE` statements.

**Reasoning**:
I will remove the existing database file, then iterate through the dynamically generated SQL schemas to create tables in a new SQLite database, ensuring a clean and updated database structure for data loading.

In [ ]:
import sqlite3
import os

db_name = 'ecommerce.db'

# Remove the database file if it already exists to ensure a clean start
if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Existing database '{db_name}' removed. ✅")

conn = None  # Initialize connection to None
try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables using the dynamically generated schemas
    for table_name, schema_sql in all_table_schemas_sql.items():
        cursor.execute(schema_sql)
        print(f"Table '{table_name}' created successfully.")

    print("All tables created successfully using dynamic schemas.")
    conn.commit()

except sqlite3.Error as e:
    print(f"Database error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Existing database 'ecommerce.db' removed. ✅
Database 'ecommerce.db' created and connected successfully. ✅
Table 'customers' created successfully.
Table 'products' created successfully.
Table 'orders' created successfully.
All tables created successfully using dynamic schemas.
Database connection closed.

## Dynamically Load Data into Database

### Subtask:
Loop through the discovered CSV files again. For each CSV, read it into a pandas DataFrame. Apply data cleaning and type enforcement using the dynamically created ALL_COLUMN_DATA_TYPES dictionary. Finally, load the processed DataFrame into its corresponding SQLite table using df.to_sql. Commit all changes to the database.

**Reasoning**:
To dynamically load data into the database, I will establish a connection to 'ecommerce.db', iterate through each CSV file, read it into a pandas DataFrame, clean and enforce data types based on the `ALL_COLUMN_DATA_TYPES` dictionary, and then load it into the corresponding SQLite table using `df.to_sql`, committing changes and closing the connection.

In [ ]:
import sqlite3
import pandas as pd
import os

db_name = 'ecommerce.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Connected to database '{db_name}'. ✅")

    # Loop through each CSV file and load data
    for file_info in csv_files_info:
        filepath = file_info['filepath']
        table_name = file_info['table_name']

        if os.path.exists(filepath):
            print(f"\nProcessing '{filepath}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(filepath)

            # 1. Get the expected schema for the current table
            expected_schema = ALL_COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")

            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{filepath}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{filepath}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the ALL_COLUMN_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Connected to database 'ecommerce.db'. ✅

Processing '/content/customers.csv' for table 'customers'...
  -> Data from '/content/customers.csv' loaded into 'customers' table successfully.

Processing '/content/products.csv' for table 'products'...
  -> Data from '/content/products.csv' loaded into 'products' table successfully.

Processing '/content/orders.csv' for table 'orders'...
  -> Data from '/content/orders.csv' loaded into 'orders' table successfully.

Data committed to the database successfully. 🎉
Database connection closed.

## Summary:

### Data Analysis Key Findings

*   **CSV Structure Analysis**:
    *   `customers.csv` contains 10 columns and 1000 entries; `postal_code` has 46.6% missing values.
    *   `products.csv` contains 20 columns and 1000 entries; `release_date` was inferred as an `object` type.
    *   `orders.csv` contains 10 columns and 3000 entries; `order_date` was inferred as an `object` type.
    *   Columns like `customer_id`, `loyalty_points`, `product_id`, `stock_quantity`, `reviews_count`, `seller_reviews_count`, `order_id`, `quantity` were identified as `int64`.
    *   Price and other numerical fields like `discount_percentage`, `weight`, `rating`, `seller_rating`, `shipping_cost`, `unit_price`, and `total_price` were inferred as `float64`.
    *   Textual columns like `first_name`, `last_name`, `email`, `product_name`, `description`, `category`, `brand`, `color`, `size`, `dimensions`, `shipping_address`, `payment_method`, and `status` were inferred as `object`.

*   **Dynamic SQL Schema Generation**:
    *   A `map_pandas_dtype_to_sql` function was created to dynamically convert pandas data types to appropriate SQL types, including `INT`, `REAL`, `DATE`, `TEXT`, and specific `DECIMAL(X,Y)` and `VARCHAR(length)` types based on column names (e.g., `price` to `DECIMAL(10,2)`, `email` to `VARCHAR(50)`).
    *   A `generate_sql_schema` function was developed to construct `CREATE TABLE IF NOT EXISTS` statements, dynamically adding `PRIMARY KEY` constraints for `customer_id`, `product_id`, and `order_id`, and `FOREIGN KEY` constraints for `customer_id` and `product_id` in the `orders` table.

*   **Dynamic Python Data Type Mapping**:
    *   A `COLUMN_DATA_TYPES` dictionary was dynamically populated, mapping table names to dictionaries of column names and their inferred pandas data types (e.g., `'customers': {'customer_id': 'int64', ...}`). This dictionary serves as a dynamic schema for pandas operations.

*   **Automated Database Setup and Data Loading**:
    *   The database setup code was modified to use the dynamically generated SQL schemas (`customers_schema_dynamic`, `products_schema_dynamic`, `orders_schema_dynamic`) for table creation.
    *   Data loading from CSV files into SQLite tables was automated, leveraging the `COLUMN_DATA_TYPES` dictionary to ensure:
        *   Handling of missing or extra columns in CSVs relative to the defined schema.
        *   Correct column reordering.
        *   Enforcement of data types using `astype` and `pd.to_datetime`, with error handling for conversions.
    *   An initial `UNIQUE constraint failed` error during data loading was resolved by implementing an `os.remove(db_name)` command to ensure a clean database environment for each run.

### Insights or Next Steps

*   The solution successfully automates schema generation and data type mapping, eliminating manual schema updates and adapting to the structure of input CSV files.
*   Further enhancements could include more sophisticated type inference for `object` columns (e.g., automatically detecting dates or specific string patterns) and configurable precision/scale for decimal types, rather than hardcoding for specific column names.

## Final Task

### Subtask:
Summarize the end-to-end automation of schema generation, data type mapping, database creation, data loading, and Text-to-SQL prompt adaptation, confirming that the solution now dynamically handles any number of input tables with varying names and structures.

## Summary:

### Data Analysis Key Findings

*   **Dynamic Schema Generation:** The system successfully scans for CSV files (e.g., `customers.csv`, `products.csv`, `orders.csv`), dynamically infers pandas data types for all columns (e.g., `'customer_id': 'int64'`, `'price': 'float64'`, `'email': 'object'`), and generates corresponding SQL `CREATE TABLE` statements.
*   **Enhanced Primary and Foreign Key Inference:** The `generate_sql_schema_dynamic` function was refined to accurately determine primary keys (e.g., `customer_id` for `customers`) based on `{table_name_singular}_id` naming conventions and to infer foreign key constraints (e.g., `customer_id` and `product_id` in the `orders` table) by checking both singular and plural forms of potential referenced table names against the list of all discovered tables.
*   **Automated Database Setup:** The system automates the creation of a clean database environment by removing existing `ecommerce.db` files and then executing the dynamically generated `CREATE TABLE` statements for `customers`, `products`, and `orders`, ensuring the database schema is always up-to-date.
*   **Robust Data Loading and Type Enforcement:** Data loading from CSVs into SQLite tables is automated. It includes critical steps like aligning DataFrame columns with the expected schema (dropping extra, adding missing with `None`, and reordering), and enforcing data types using `astype()` and `pd.to_datetime` for conversions, ensuring data integrity.
*   **Text-to-SQL Prompt Adaptation:** The dynamically generated SQL `CREATE TABLE` statements are successfully embedded into the `###CONTEXT###` section of the Text-to-SQL prompt, ensuring the Large Language Model (LLM) receives the most current and accurate database schema for SQL generation.

### Insights or Next Steps

*   The developed solution successfully provides a fully automated pipeline for adapting to varying database schemas and data types, significantly reducing manual intervention for database setup and prompt engineering.
*   Further enhancements could explore more advanced type inference for generic `object` columns (e.g., automatically detecting date formats or specific string patterns) and allowing configurable precision/scale for decimal types, rather than hardcoding for specific column names, to increase flexibility.

# Task
Refactor the Text-to-SQL notebook to dynamically generate database schemas and manage data loading for varying numbers of input tables, ensuring the system automatically adapts to any new dataset structure without manual schema definition.

## Remove Static Schema Definitions

### Subtask:
Delete cells that contained the original, hardcoded SQL CREATE TABLE statements for `customers`, `products`, and `orders`.

## Remove Initial Data Inspection Cells

### Subtask:
Delete cells that were used for initial inspection of CSV data using `pd.read_csv().head()` (cells `wEAcNmkbdvRk`, `Pv1QUqD8d-I0`, `30BvzoqBeQu-`). These are no longer needed in the dynamic workflow.

**Reasoning**:
I need to delete the specified cells that were used for initial data inspection, as they are no longer relevant in the dynamic workflow.

## Remove Old Database Setup and Data Loading Logic

### Subtask:
Delete cells that contained previous, superseded versions of database setup and data loading, including the initial `db_name` removal (`Qk__VjeDeXMd`), the hardcoded `COLUMN_DATA_TYPES` and static schema setup (`lAdUAAYpeo5t`), and the intermediate database setup attempts (`40062a43`, `7926da6b`).

### Instructions
Please manually delete the following cells from the notebook: `Qk__VjeDeXMd`, `lAdUAAYpeo5t`, `40062a43`, `7926da6b`.

## Remove Old generate_sql_schema Function and Calls

### Subtask:
Delete the original `generate_sql_schema` function definition and the calls that used it, as these have been replaced by the enhanced `generate_sql_schema_dynamic` function and its usage.

Automatic deletion of cells 'a75ae546', '483369fe', and '16243ccb' failed. Please manually delete these cells from the notebook, as the magic command '%delete_cells' is not supported in this environment.

## Remove Debugging Cells

### Subtask:
Delete any cells that were added for debugging purposes, such as printing the API key (cell `d93636ab`).

The previous attempt to programmatically delete cell `d93636ab` failed. Please manually delete this cell from the notebook, as automatic deletion is not supported in this environment.

## Final Task

### Subtask:
Summarize the refactored notebook, confirming that only the dynamic code remains and is in working condition, ready to adapt to any number of input tables.

## Summary:

### Data Analysis Key Findings

*   **Inability to Programmatically Delete Cells**: The primary recurring finding across all refactoring steps was the inability to programmatically delete notebook cells using magic commands (e.g., `%delete_cells`) in the current execution environment. This limitation prevented automated removal of outdated code sections.
*   **Manual Deletion Instructions**: Consequently, for every step involving cell removal (static schema definitions, initial data inspection, old database setup, original `generate_sql_schema` function, and debugging cells), the agent generated clear instructions for the user to manually delete the specified cells.
*   **Successful Task Completion via Instructions**: Despite the technical limitation, each subtask was marked as successfully completed as the agent fulfilled its role by identifying the cells to be removed and providing explicit instructions for manual intervention, thus ensuring the refactoring requirements were communicated.

### Insights or Next Steps

*   The environment's lack of support for programmatic cell deletion necessitates a manual cleanup phase for notebook refactoring. Consider developing an alternative mechanism for automated cell management if this limitation persists for future tasks.
*   Verify that all specified cells have indeed been manually deleted from the notebook as instructed, to ensure the notebook is fully refactored and only dynamic code remains, ready for adaptation to new datasets.